.mainSection {
  width: 100%;
  height: calc(100vh - 9rem);
  overflow-y: scroll;
  color: #777;
  display: flex;
  margin-top: 2rem;

  justify-content: center;
}

.addToListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 2rem;
  width: 50%;
}

.heading {
  font-size: 2.2rem;
  border-bottom: 0.2rem solid #ff9d40;
  padding-bottom: 0.2rem;
  text-align: center;
}

.productNameInput {
  display: flex;
  align-items: center;
  gap: 1.3rem;
}

.productNameInput label {
  font-size: 2.1rem;
}

.listInput {
  padding: 0.5rem 0.5rem;
  font-family: "Quicksand", sans-serif;
  font-size: 1.8rem;
  border: 0.2rem dashed black;
  border-radius: 1rem;
  width: 25rem;
}

.productNameInput input:active,
.productNameInput input:focus {
  border: 0.1rem solid #ff9d40;
}

.productNameInput input::placeholder {
  color: rgba(119, 119, 119, 0.514);
}

.targetInput::placeholder {
  color: rgba(119, 119, 119, 0.514);
}

.button {
  padding: 0.1rem 2rem;
  background-color: #ffdebf;
  color: #804916;
  font-size: 2.3rem;
  border: 0.3rem solid #ff9d40;
  border-radius: 1rem;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  position: relative;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.3rem;
}

.button:hover {
  transform: scale(1.05);
}

.okButton {
  margin-top: -1.46rem;
}

.predictButtons {
  display: flex;
  gap: 3rem;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.active {
  background-color: rgba(172, 255, 47, 0.7);
}

.targetInput {
  padding: 0.5rem 0.5rem;
  font-family: "Quicksand", sans-serif;
  font-size: 1.8rem;
  border: 0.2rem dashed black;
  border-radius: 1rem;

  width: 15rem;
}

.targetInput::-webkit-outer-spin-button,
.targetInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.targetIcon {
  width: 6rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.targetIcon svg {
  width: 6em;
  height: 3rem;
}

.targetText {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.targetText p {
  font-size: 2.4rem;
}

.container {
  margin: 0 auto;
  display: flex;
  width: 100%;
  gap: 6rem;
  justify-content: center;
}

.listContainer {
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
}

.shopList {
  display: flex;
  align-items: center;

  height: 5rem;
  gap: 1rem;
  font-size: 2.2rem;
  letter-spacing: 0.2rem;
}

.listInput {
  width: 100%;
  margin: 0 auto;
}

.listInput label {
  width: 22%;
}

.itemNumber {
  width: 2rem;
}

.itemName {
  width: 30rem;
  font-family: "Quicksand", sans-serif;
}

.deleteIcon {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  transition: all 0.3s;
}

.deleteIcon:hover {
  transform: scale(1.05);
}

.btnContainer {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}

.backButton {
  width: 20rem !important;
  text-align: center;
  margin: 0 auto;
}

.finishButton {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

@media (max-width: 54em) {
  .container {
    margin: 0 auto;
    flex-direction: column;
    width: 80%;

    justify-content: start;
  }

  .addToListContainer {
    margin: 0 auto;
  }

  .listContainer {
    margin: 0 auto;
  }
}
