.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8rem;
  width: 100%;
  background: #ff9d40;
  background: linear-gradient(0deg, #ff9d40 0%, #e68327 100%);
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: white;
  gap: 1rem;
  padding-left: 6rem;
  cursor: pointer;
  letter-spacing: 4px;
}

.logoimg {
  width: 5rem;
}

.navButtons {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding-right: 6rem;
  font-size: 2.1rem;
  transition: all 0.3s;
}

.navButton {
  transition: all 0.3s;
  cursor: pointer;
  padding: 1rem;
  border: 1px solid transparent;
  border-radius: 1rem;
}

.navButton:hover {
  color: #ffe9d5;
  border: 1px solid white;
  border-radius: 2rem;
}

.videoContainer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.4;
  overflow: hidden;
}

.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.mainHeader {
  margin-top: 8%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #804916;
  font-size: 1.7rem;
  letter-spacing: 2.2px;
}

.heading {
  padding: 1rem;
  width: 40%;
}

.mainimg {
  width: 20rem;
  height: 20rem;
  padding: 1rem;
}

.mainHeader strong {
  font-size: 5rem;
  letter-spacing: 4px;
}

.btnDiv {
  margin-top: 4rem;
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  padding: 0.7rem 5rem;
  background-color: #ffdebf;
  color: #804916;
  font-size: 3rem;
  border: 0.3rem solid #ff9d40;

  border-radius: 1rem;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 3px;
}

.button:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 50%;
  -webkit-box-shadow: 0 0 17px 3px #ffff01, 0 0 4px 2px #ffff01;
  box-shadow: 0 0 17px 3px #ffff01, 0 0 4px 2px #ffff01;
  z-index: -1;
  -webkit-animation-name: yellow-shadow;
  animation-name: yellow-shadow;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  z-index: -1;
}

.button:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 50%;
  -webkit-box-shadow: 0 0 17px 3px #0ff, 0 0 4px 2px #0ff;
  box-shadow: 0 0 17px 3px #0ff, 0 0 4px 2px #0ff;
  z-index: -1;
  -webkit-animation-name: cyan-shadow;
  animation-name: cyan-shadow;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  z-index: -1;
}

.button:hover {
  font-size: 3.4rem;
}

@-webkit-keyframes yellow-shadow {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 50%;
    left: 0;
  }
  50% {
    top: 50%;
    left: 50%;
  }
  75% {
    top: 0;
    left: 50%;
  }
  100% {
    top: 0;
    left: 0;
  }
}

@keyframes yellow-shadow {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 50%;
    left: 0;
  }
  50% {
    top: 50%;
    left: 50%;
  }
  75% {
    top: 0;
    left: 50%;
  }
  100% {
    top: 0;
    left: 0;
  }
}

@-webkit-keyframes cyan-shadow {
  0% {
    right: 0;
    bottom: 0;
  }
  25% {
    right: 0;
    bottom: 50%;
  }
  50% {
    right: 50%;
    bottom: 50%;
  }
  75% {
    right: 50%;
    bottom: 0;
  }
  100% {
    right: 0;
    bottom: 0;
  }
}

@keyframes cyan-shadow {
  0% {
    right: 0;
    bottom: 0;
  }
  25% {
    right: 0;
    bottom: 50%;
  }
  50% {
    right: 50%;
    bottom: 50%;
  }
  75% {
    right: 50%;
    bottom: 0;
  }
  100% {
    right: 0;
    bottom: 0;
  }
}

@media (max-width: 90em) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 90em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 38em) {
  html {
    font-size: 40%;
  }
}

@media (max-width: 27em) {
  html {
    font-size: 30%;
  }
  .mainHeader {
    flex-direction: column;
  }

  .heading {
    text-align: center;
  }

  .mainHeader {
    margin-top: 18%;
  }
}

@media (max-width: 21em) {
  html {
    font-size: 25%;
  }
}
@media (max-width: 18em) {
  html {
    font-size: 20%;
  }
}
@media (max-width: 15em) {
  html {
    font-size: 17%;
  }
  .mainHeader {
    margin-top: 40%;
  }
}
